footer {
    /* background-color: black; */
    color: #fff;
    margin: 5rem 0 0 0;
    text-align: center;
    /* padding: .5rem 0 ; */
    position: fixed;
  bottom: 0;
  width: 100%;
}
footer span {
    color: var(--skyblue);
}
footer p{
    margin-bottom: 0;
}